<div class="card">
  <figure class="card__image">
      <img src="assets/images/hotels/4900059_30_b.jpg">
  </figure>
  <div class="card__main">
    <h2 class="card__title">Hotel Stefanos</h2>
    <div class="card__stars">
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
    </div>
    <div class="card__services">
        <i class="fa fa-star"></i>
    </div>
  </div>
  <div class="card__info">
      <span class="card__price-title">Precio por noche por habitación</span>
      <h3 class="card__price">ARS <span class="price">567</span></h3>
      <button class="btn btn--blue"> Ver hotel</button>
  </div>
</div>