.card{
    width: 100%;
    padding: 10px 10px 40px;
    background-color: white;
    margin:0 auto;    
    margin-bottom: 20px;
}

.card__image{
    img{
        width: 100%;
    }
}
.card__title{
    margin-top: 10px;
    color: #338BBB;
    font-size: 1.6rem;
}

.card__info{
    border-top: 1px #000 dotted;
    padding-top: 20px;
    text-align: center;
   
}
.card__services{
    margin-bottom: 20px;
    i{
        font-size: 16px;
        color: red;
        margin-right: 10px;
    }
}
.card__stars{
    padding: 20px 0;
    color: #FDBA12;
    font-size: 2rem;
}

.card__price{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
    color: #DF6800;
    font-weight: 400;
    font-size: 3rem;
}

.card__price-title{
    font-size: 1.6rem;
}

.price {
    font-weight: bold;
    font-size: 5rem;
    margin-left: 10px;
}


@media(min-width: 768px){
    .card{
        display: flex;
        flex-direction: row;
        padding: 10px;
    }

    .card__container{
        width: 100%;
    }

    .card__price{        
        font-size: 2rem;
    }
    
    .price {
        font-size: 3rem;
    }    

    .card__image{
        width: 30%;
    }

    .card__info{
        border-top: none;
        border-left: 1px #000 dotted;
        padding: 30px;
        width: 30%;
    }

    .card__main{
        width: 40%;
        margin-left: 20px;
    }
}