/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss";
@import "../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/_mixins.scss";
@import "../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/_component-animations.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
    font-family: Helvetica;
    font-size: 10px;
}

body{
    background-color: #f4f4f4;
}

.btn{
    display: block;
    width: 100%;
    padding: 15px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    font-size: 2.5rem;
}

.btn--blue{
    background-color: #002C77;
    border-width: 0;    
}



@media(min-width: 768px){
    .btn{
        font-size: 1.6rem;
        padding: 10px;
    }
    .btn--inline{
        display: inline-block;
        width: 30%;
        margin-left: 20px;
        font-weight: normal;
        border-radius: initial;
        padding: 8px 5px;
        font-size: 1.2rem;
    }
}